@font-face {
  font-family: evogria;
  src: url(fonts/Evogria.otf);
}

html, body
{
  background-color: #fff;
  font-family: evogria, sans-serif;
  margin: 0;
  padding: 0;
}
#navbar
{
  background-color: #eee;
  color: #242424;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 70px;
  width: 100%;
}

#navbar ul
{
  float: right;
  margin: 0;
  padding-top: 15px;
  padding-right: 30px;
  list-style-type: none;
}

#navbar li
{
  background-color: #37B6AD;
  padding-top: 10px;
  display: inline-block;
  margin-right: 1em;
  text-align: center;
  width: 149px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
#navbar li:hover{
  background-color: #006464;
}

#comp{
  text-align: center;
}

#checkbox
{
  list-style-type: none;
}

#form{
  border-radius: 10px;
  background-color: #37B6AD;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 90%;
  height: 50vh;
}

#navbar ul li a
{
  color: #fff;
  padding-top: 10px;
  font-size: 23px;
  text-decoration: none;
  cursor: pointer;
}

#map
{
  margin: auto;
  width: 90%;
  height: 90vh;
  border-radius: 10px 10px 0 0;
}

#map-settings
{
  background-color: #006464;
  color: white;
  margin: auto;
  width: 90%;
  height: 3em;
  border-radius: 0 0 10px 10px;
}
#map-settings ul
{
  margin: 0;
}
#map-settings li
{
  list-style-type: none;
  display: inline-block;
}
#map-settings li a 
{
  cursor: pointer;
}

.map-button
{
  background-color: #006464;
  color: white;
  height: 2em;
  width: auto;
  padding: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}