@font-face {
  font-family: evogria;
  src: url(fonts/Evogria.otf);
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  padding-top: 0.1em;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #006464;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}




html, body
{
  color: #eee;
  background-color: #fff;
  font-family: evogria, sans-serif;
  margin: 0;
  padding: 0;
}

#navbar
{
  background-color: #eee;
  color: #242424;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 70px;
  width: 100%;
}

#navbar ul
{
  float: right;
  margin: 0;
  padding-top: 10px;
  padding-right: 1em;
  list-style-type: none;
}

#navbar li
{
  background-color: #37B6AD;
  padding-top: 10px;
  display: inline-block;
  margin-right: 1em;
  text-align: center;
  width: 149px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
#navbar li:hover{
  background-color: #006464;
}

#logo{
  height: 75%;
  padding-top: 0.6em;
  padding-left: 1em;
}

#comp{
  text-align: center;
}

#check{
  padding-top: 3em;
  padding-left: 3em;
}

#checkbox
{
  list-style-type: none;
}

#form{
  border-radius: 10px;
  background-color: #37B6AD;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 90%;
  height: 50vh;
}

#navbar ul li a
{
  color: #fff;
  padding-top: 10px;
  font-size: 23px;
  text-decoration: none;
  cursor: pointer;
}

#map
{
  margin: auto;
  width: 90%;
  height: 90vh;
  border-radius: 10px 10px 0 0;
}

#map-settings
{
  background-color: #006464;
  color: white;
  margin: auto;
  width: 90%;
  height: 3em;
  border-radius: 0 0 10px 10px;
}
#map-settings ul
{
  margin: 0;
}
#map-settings li
{
  list-style-type: none;
  display: inline-block;
}
#map-settings li a 
{
  cursor: pointer;
}

.map-button
{
  background-color: #006464;
  color: white;
  height: 2em;
  width: auto;
  padding: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}