html, body
{
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: sans-serif;
}
#navbar
{
  display: inline-block;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  color: #242424;
  height: 6vh;
  width: 100%;
  font-size: 2vh;
}

#navbar ul
{
  list-style-type: none;
  display: inline-block;
  float: right;
}

#navbar li
{
  float: right;
  margin-right: 1em;
  text-align: center;
  width: 149px;
  height: 40px;
  background-color: #37B6AD;
  border-radius: 24px;
}

#navbar li a
{
  color: #fff;
  text-decoration: none;
}

#map
{
  margin: auto;
  width: 90%;
  height: 100vh;
  border-radius: 10px 10px 0 0;
}

#map-settings
{
  margin: auto;
  width: 90%;
  background-color: #006464;
  height: 3em;
  border-radius: 0 0 10px 10px;
}

.map-button
{
  color: white;
  background-color: #006464;
  height: 2em;
  width: auto;
  padding: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}