$easing: cubic-bezier(.25,1.7,.35,.8);
$duration: 0.5s;

#arrow-icon {
  height: 2.8em;
  width: 2.8em;
  display:block;
  padding: 0.5em;
  margin: 1em auto;
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  left: 50%;
  bottom: 35%;
}


.left-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left:0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.right-bar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left:26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.open {
    .left-bar:after {
    transform-origin: center center;
    transform: rotate(-70deg);
  }
  .right-bar:after {
    transform-origin: center center;
    transform: rotate(70deg);
  }

}

input[type=range] {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  -moz-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-thumb {
  width: $size * 2;
  height: $size * 2;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}
input[type=range]::-moz-range-thumb {
  width: $size * 2;
  height: $size * 2;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  width: $size * 2;
  height: $size * 2;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}
input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}
input[type=range]::-ms-tooltip {
  display: none;
}


/* Custom slider styles */
.slider {
  height: 10px;
  position: relative;
  width: 100%;
}
.slider-rail,
.slider-fill,
.slider-handle,
.slider-input {
  left: 0;
  position: absolute;
  top: 0;
}
.slider-rail {
  background: lightsteelblue;
  border-radius: 4px;
  width: 100%;
  height: $size;
}
.slider-fill {
  border-radius: 4px;
  background: slategray;
  height: $size;
}
.slider-handle {
  width: $size;
  height: $size;
  background-color: white;
  box-shadow: 0 0 0 2px slategray;
  border-radius: 50%;
}

